[Unit]
Description=Hadoop Resource Manager
After=network-online.target

[Service]
Restart=always
TimeoutStartSec=0
ExecStart=yarn-daemon.sh --config /etc/hadoop start resourcemanager
ExecStop=yarn-daemon.sh --config /etc/hadoop stop resourcemanager

[Install]
WantedBy=multi-user.target