[Unit]
Description=Hadoop Node Manager
After=network-online.target

[Service]
Restart=always
TimeoutStartSec=0
ExecStart=yarn-daemons.sh --config /etc/hadoop start nodemanager
ExecStop=yarn-daemons.sh --config /etc/hadoop stop nodemanager

[Install]
WantedBy=multi-user.target